.inventory {
  .options {
    b:hover {
      color: #9799ca;
      cursor: pointer;
    }
  }

  .inventory-list {
    height: 42vh;
    li {
      span {
        width: 100px;
      }
    }

    li:nth-child(2n - 1) {
      background-color: #9799ca;
    }
  }
}

@media (max-width: 500px) {
  .inventory {
    .inventory-list {
      height: 65vh;
    }
  }
}
