@import 'bootstrap/dist/css/bootstrap.min.css';
@import './view/components/Common/Form/Form.scss';

#root {
  width: 100vw;
  height: 100vh;
  background-color: #252627;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;

  .App {
    height: 80%;
    width: 60%;

    .main-container {
      border-radius: 10px;
      height: 100%;
      width: 100%;
    }

    .front-page {
      background-image: url('./assets/bg/front.png');
      background-repeat: repeat-x;
      background-size: auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      img {
        margin-bottom: 20px;
        height: 120px;
        width: 120px;
      }
    }

    .dashboard {
      background-color: #f1f2f6;

      .scroll-view {
        padding: 3rem 1rem;
        width: 100%;
        max-height: 55vh;
        overflow: auto;
      }

      @media (max-width: 972px) {
        .scroll-view {
          max-height: 72vh;
        }
      }
    }

    .btn {
      background-color: #622fcf;
      color: #f1f2f6;
      width: 200px;
      margin-top: 15px;
    }

    .btn-danger {
      background-color: #d74e09;
      border-color: #d74e09;
    }

    .btn:hover {
      background-color: darken(#622fcf, 10);
    }

    .btn-danger:hover {
      background-color: darken(#d74e09, 10);
      border-color: #d74e09;
    }

    .buttons-container {
      position: relative;
      bottom: 20px;
    }

    .click {
      cursor: pointer;
    }
  }
}

.not-found {
  background-image: url('./assets/bg/front.png');
  background-repeat: repeat-x;
  background-size: auto;
}

@media (max-width: 972px) {
  #root {
    height: max-content;
    .App {
      width: 100vw;
      height: 100vh;
      overflow: hidden;
      background-size: contain;

      .main-container {
        border-radius: 0;
        min-height: 780px;
      }

      .front-page {
        background-position: 40%;
      }

      .btn {
        width: 100px;
      }
    }
  }
}
