@import 'bootstrap/dist/css/bootstrap.min.css';
@import './view/components/Common/Form/Form.scss';

#root {
  width: 100vw;
  height: 100vh;
  background-color: #252627;
  display: flex;
  align-items: center;
  justify-content: center;

  .App {
    height: 80%;
    width: 60%;

    .main-container {
      border-radius: 10px;
      height: 100%;
      width: 100%;
    }

    .front-page {
      background-image: url('./assets/bg/front.png');
      background-repeat: repeat-x;
      background-size: auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      img {
        margin-bottom: 20px;
        height: 120px;
        width: 120px;
      }
    }

    .dashboard {
      background-color: #F1F2F6;
    }

    .btn {
      background-color: #622fcf;
      color: white;
      width: 200px;
      margin-top: 15px;
    }

    .btn:hover {
      background-color: darken(#622fcf, 10);
    }
  }

  @media (max-width: 768px) {
    .App {
      width: 100vw;
      background-size: contain;

      .main-container {
        border-radius: 0;
      }
    }
  }
}
